* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cairo;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.main {
  flex-basis: 50%;
}
.app-title {
  text-align: center;
  color: #f9c448;
  font-size: 80px;
}

.app-description {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  max-width: 80%;
  margin: auto;
  line-height: 1.2;
}
hr {
  width: 536px;
  margin: auto;
  margin-top: 30px;
}
.how-to-play {
  font-size: 26px;
  text-decoration: underline;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
  margin-left: 60px;
}
.paly-rules {
  margin-left: 90px;
  margin-top: 15px;
  max-width: 70%;
}
.start {
  background-color: #b0dbee;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.vector-section {
  object-fit: cover;
  width: 450px;
  height: 450px;
}
.user-name-input {
  width: 225px;
  height: 44px;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px;
  border: none;
}
.start-button {
  width: 225px;
  height: 44px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #f9c448;
  border: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.fa-trophy {
  font-size: 40px;
  color: #f9c448;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* quiz page */

.question-section {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
}

.question-counter {
  text-decoration: underline;
  font-weight: bold;
  font-size: 39px;
  padding-bottom: 15px;
}
.question-container {
  font-weight: bold;
  background-color: #f9c448;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
}
.answer-container {
  border: solid black 2px;
  border-radius: 8px;
  margin-top: 15px;
  padding-left: 15px;
  line-height: 3;
}
.radio-label {
  margin-left: 10px;
}
.next-button {
  width: 225px;
  height: 44px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #f9c448;
  border: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.next-button-section {
  display: flex;
  justify-content: flex-end;
  padding: 40px;
}

/*leaderboard pag */
.leaderboard-section {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
}
.leaderboard {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 30px;
}

.player-container {
  font-weight: bold;
  background-color: #f9c448;
  font-size: 19px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.back-home-button {
  width: 225px;
  height: 44px;
  border-radius: 8px;
  margin-top: 30px;
  background-color: #1a5271;
  border: none;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  color: #c6dbe4;
}
.back-home-button-section {
  display: flex;
  align-self: flex-end;
}
